@font-face {
  font-family: "satoshi-light";
  src: url(assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: "chillax-regular";
  src: url(assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: "vmf";
  src: url(assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
/* latin */
@font-face {
  font-family: "roboto-mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #121212;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  grid-template-areas: "header header" "card1 card2" "stats stats" "card4 card3" "card5 card6" "team-header team-header" "team-cards team-cards" "card7 card8" "contact-banner contact-banner" "footer-left footer-right-top" "footer-left footer-right-bottom";
}
main .item {
  background: #ccc;
}
main .header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
main .header nav {
  display: flex;
  gap: 0.6rem;
}
main .header nav a {
  padding: 1rem;
  color: #F4F2ED;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  border-radius: 0.4rem;
  font-family: satoshi-light;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: rgba(255, 255, 255, 0.0509803922);
}
main .header nav a:hover {
  background: #2A2A2A;
}
main .header nav .link-get-in-touch {
  background: #CEBD63;
  color: #1A1A1A;
  font-weight: 600;
}
main .header nav .link-get-in-touch:hover {
  background: #AD9D49;
}
main .card1 {
  grid-area: card1;
  border-radius: 1rem;
  background: none;
}
main .card1 img {
  width: 100%;
  border-radius: 1rem;
}
main .card2 {
  grid-area: card2;
  background: rgba(255, 255, 255, 0.0509803922);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}
main .card2 h1,
main .card2 h3,
main .card2 h4 {
  color: #F4F2ED;
  font-family: satoshi-light;
}
main .card2 h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #F4F2ED;
  text-transform: uppercase;
}
main .card2 h3 {
  color: #92918E;
  padding: 1rem 0;
  font-size: 1.3rem;
}
main .card2 h4 {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-family: "roboto-mono", sans-serif;
  margin-top: 2rem;
}
main .card2 h4 i {
  border: 1px solid #3D3939;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #292929;
  font-size: 1rem;
  margin-right: 1rem;
}
main .stats {
  grid-area: stats;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: satoshi-light;
  background: none;
  padding: 3rem 0;
}
main .stats h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #F4F2ED;
  font-family: chillax-regular;
}
main .stats h4 {
  color: #92918E;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}
main .card3 {
  grid-area: card3;
}
main .card4 {
  grid-area: card4;
}
main .card5 {
  grid-area: card5;
}
main .card6 {
  grid-area: card6;
}
main .card3,
main .card5 {
  border-radius: 1rem;
  background: none;
}
main .card3 img,
main .card5 img {
  width: 100%;
  border-radius: 1rem;
}
main .card4,
main .card6 {
  background: rgba(255, 255, 255, 0.0509803922);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}
main .card4 h1,
main .card4 h3,
main .card4 h4,
main .card6 h1,
main .card6 h3,
main .card6 h4 {
  color: #F4F2ED;
  font-family: satoshi-light;
}
main .card4 h1,
main .card6 h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #F4F2ED;
  text-transform: uppercase;
}
main .card4 h3,
main .card6 h3 {
  color: #92918E;
  padding: 1rem 3rem 1rem 0;
  font-size: 1.3rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .card4 h4,
main .card6 h4 {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-family: "roboto-mono", sans-serif;
  margin-top: 2rem;
}
main .team-header {
  grid-area: team-header;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
main .team-header h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #F4F2ED;
  text-transform: uppercase;
  font-family: chillax-regular;
}
main .team-header h4 {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-family: "roboto-mono", sans-serif;
  margin-top: 2rem;
  color: #F4F2ED;
}
main .team-header h4 i {
  border: 1px solid #3D3939;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #292929;
  font-size: 1rem;
  margin-right: 1rem;
}
main .team-cards {
  grid-area: team-cards;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  background: none;
}
main .team-cards .team-member1 {
  background: url("assets/images/member1.webp");
}
main .team-cards .team-member2 {
  background: url("assets/images/member2.webp");
}
main .team-cards .team-member3 {
  background: url("assets/images/member3.webp");
}
main .team-cards .member-card {
  width: 100%;
  border-radius: 1rem;
  opacity: 80%;
  background-size: cover;
  background-position: center;
  flex: 1;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
main .team-cards .member-card .top-icons {
  text-align: end;
  width: 100%;
  padding: 1rem 0rem;
}
main .team-cards .member-card .top-icons i {
  border: 1px solid #3D3939;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: rgba(41, 41, 41, 0.0666666667);
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #fff;
  font-weight: 100;
  backdrop-filter: blur(1rem);
}
main .team-cards .member-card .bottom-info {
  background: rgba(18, 18, 18, 0);
  width: 100%;
  backdrop-filter: blur(1rem);
  padding: 1.2rem 1rem;
  color: #fff;
  font-family: chillax-regular;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .team-cards .member-card .bottom-info h4 {
  font-size: 1.2rem;
}
main .team-cards .member-card .bottom-info p {
  font-size: 0.9rem;
  font-weight: 600;
}
main .card7 {
  grid-area: card7;
  border-radius: 1rem;
  background: none;
}
main .card7 img {
  width: 100%;
  border-radius: 1rem;
}
main .card8 {
  grid-area: card8;
  background: rgba(255, 255, 255, 0.0509803922);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}
main .card8 h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #F4F2ED;
  text-transform: uppercase;
  font-family: chillax-regular;
}
main .card8 h4 {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-family: "roboto-mono", sans-serif;
  margin-top: 2rem;
  color: #F4F2ED;
}
main .card8 h4 i {
  border: 1px solid #3D3939;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #292929;
  font-size: 1rem;
  margin-right: 1rem;
}
main .card8 .header-content h4 {
  color: #92918E;
}
main .contact-banner {
  grid-area: contact-banner;
  background: #CEBD63;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem;
}
main .contact-banner h3 {
  font-family: satoshi-light;
  font-weight: 600;
  font-size: 0.9rem;
}
main .contact-banner h2 {
  font-size: 5rem;
  font-family: chillax-regular;
  font-weight: 300;
  line-height: 6rem;
  width: 80%;
}
main .contact-banner .get-in-touch {
  font-family: "roboto-mono";
  background: #000;
  padding: 1rem 2rem;
  color: #F4F2ED;
  border-radius: 0.6rem;
  font-weight: 600;
  white-space: nowrap;
}
main .section14 {
  grid-area: footer-left;
}
main .section15 {
  grid-area: footer-right-top;
}
main .footer-right-bottom {
  grid-area: footer-right-bottom;
  color: #fff;
  background: #1E1E1E;
  border-radius: 1rem;
  padding: 2.5rem 1rem;
  font-family: "satoshi-light";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .footer-right-bottom h3 {
  font-size: 1rem;
  color: #92918E;
  font-weight: 400;
}
main .footer-right-bottom h3 span {
  color: #F4F2ED;
  border-bottom: 1px solid #F4F2ED;
}
main .footer-right-bottom .right-link h3 {
  color: #F4F2ED;
  font-weight: 400;
}
main .footer-right-bottom .right-link i {
  border: 1px solid #3D3939;
  border-radius: 2rem;
  padding: 0.6rem;
  background-color: #292929;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}/*# sourceMappingURL=style.css.map */