:root {
    --primary-color: #F4F2ED;
    --secondary-color: #92918E;
    --background-color: #121212;
    --background-color2: #CEBD63;
    --text-color: #ffffff;
    --font-family: 'Satoshi-Light';
}

@font-face {
    font-family: satoshi-light;
    src: url(assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: chillax-regular;
    src: url(assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: vmf;
    src: url(assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--background-color);
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;

    grid-template-areas:
        "header header header header header header"

        "card1 card1 card1 card2 card2 card2"

        "banner banner banner banner banner banner"

        "card3 card3 card3 card4 card4 card4"
        "card5 card5 card5 card6 card6 card6"

        "sectionider sectionider sectionider sectionider sectionider sectionider"

        "small1 small1 small2 small2 small3 small3"

        "half1 half1 half1 half2 half2 half2"

        "footer footer footer footer footer footer"

        "sidebar content content content content content"
        "sidebar content content content content content"
        "sidebar bottom  bottom  bottom  bottom  bottom";

    .item {
        background: #fff;
    }


    .section1 {
        grid-area: header;
    }

    .section2 {
        grid-area: card1;
    }

    .section3 {
        grid-area: card2;
    }

    .section4 {
        grid-area: banner;
    }

    .section5 {
        grid-area: card3;
    }

    .section6 {
        grid-area: card4;
    }

    .section7 {
        grid-area: card5;
    }

    .section8 {
        grid-area: card6;
    }

    .section9 {
        grid-area: sectionider;
    }

    .section10 {
        grid-area: small1;
    }

    .section11 {
        grid-area: small2;
    }

    .section12 {
        grid-area: small3;
    }

    .section13 {
        grid-area: half1;
    }

    .section14 {
        grid-area: half2;
    }

    .section15 {
        grid-area: footer;
    }

    .section16 {
        grid-area: sidebar;
    }

    .section17 {
        grid-area: content;
    }

    .section18 {
        grid-area: bottom;
    }

}

@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);

        grid-template-areas:
            "header header"

            "card1 card2"

            "banner banner"

            "card3 card4"
            "card5 card6"

            "sectionider sectionider"

            "small1 small2"
            "small3 small3"

            "half1 half2"

            "footer footer"

            "sidebar sidebar"
            "content content"
            "bottom bottom";
    }
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;

        grid-template-areas:
            "header"

            "card1"
            "card2"

            "banner"

            "card3"
            "card4"
            "card5"
            "card6"

            "sectionider"

            "small1"
            "small2"
            "small3"

            "half1"
            "half2"

            "footer"

            "sidebar"
            "content"
            "bottom";
    }
}