@font-face {
    font-family: 'satoshi-light';
    src: url(assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: 'chillax-regular';
    src: url(assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: 'vmf';
    src: url(assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

/* latin */
@font-face {
    font-family: 'roboto-mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;


}

html,
body {
    height: 100%;
    width: 100%;
    background: #121212;
    overflow-x: hidden;

}

main {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;

    grid-template-areas: "header header"
        "card1 card2"
        "stats stats"
        "card4 card3"
        "card5 card6"
        "team-header team-header"
        "team-cards team-cards"
        "card7 card8"
        "contact-banner contact-banner"
        "footer footer";

    .item {
        background: #ccc;
    }

    .header {
        grid-area: header;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: none;

        nav {
            display: flex;
            gap: 0.6rem;


            a {
                padding: 1rem;
                color: #F4F2ED;
                text-decoration: none;
                padding: 0.9rem 1.2rem;
                border-radius: 0.4rem;
                font-family: satoshi-light;
                font-size: 0.875rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                background: #ffffff0d;
            }

            a:hover {
                background: #2A2A2A;
            }

            .link-get-in-touch {
                background: #CEBD63;
                color: #1A1A1A;
                font-weight: 600;
                white-space: nowrap;

                &:hover {
                    background: #AD9D49;
                }
            }
        }
    }

    .card1 {
        grid-area: card1;
        border-radius: 1rem;
        background: none;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    .card2 {
        grid-area: card2;

        background: #ffffff0d;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3rem;


        h1,
        h3,
        h4 {
            color: #F4F2ED;
            font-family: satoshi-light;
        }

        h1 {
            font-size: 4rem;
            font-weight: 600;
            color: #F4F2ED;
            text-transform: uppercase;
        }

        h3 {

            color: #92918E;
            padding: 1rem 0;
            font-size: 1.3rem;
        }

        h4 {

            letter-spacing: 0.1rem;
            font-size: 0.8rem;
            font-family: 'roboto-mono', sans-serif;
           
            i {
                border: 1px solid #3D3939;
                border-radius: 2rem;
                padding: 1rem;
                background-color: #292929;
                font-size: 1rem;
                margin-right: 1rem;

            }

        }

    }


    .stats {
        grid-area: stats;
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-family: satoshi-light;
        background: none;
        padding: 3rem 0;

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            color: #F4F2ED;
            font-family: chillax-regular;
        }

        h4 {
            color: #92918E;
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
        }
    }

    .card3 {

        grid-area: card3;
    }

    .card4 {

        grid-area: card4;
    }

    .card5 {

        grid-area: card5;
    }

    .card6 {

        grid-area: card6;

    }

    .card3,
    .card5 {
        border-radius: 1rem;
        background: none;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    .card4,
    .card6 {

        background: #ffffff0d;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3rem;


        h1,
        h3,
        h4 {
            color: #F4F2ED;
            font-family: satoshi-light;
        }

        h1 {
            font-size: 3rem;
            font-weight: 500;
            color: #F4F2ED;
            text-transform: uppercase;
        }

        h3 {

            color: #92918E;
            padding: 1rem 3rem 1rem 0;
            font-size: 1.3rem;
            column-count: 2;
            column-gap: 1rem;
        }

        h4 {

            letter-spacing: 0.1rem;
            font-size: 0.8rem;
            font-family: 'roboto-mono', sans-serif;
            margin-top: 2rem;

        }


    }




    .team-header {
        grid-area: team-header;

        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            color: #F4F2ED;
            text-transform: uppercase;
            font-family: chillax-regular;

        }

        h4 {

            letter-spacing: 0.1rem;
            font-size: 0.8rem;
            font-family: 'roboto-mono', sans-serif;
            color: #F4F2ED;


            i {
                border: 1px solid #3D3939;
                border-radius: 2rem;
                padding: 1rem;
                background-color: #292929;
                font-size: 1rem;
                margin-right: 1rem;
            }

        }
    }

    .team-cards {

        grid-area: team-cards;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        background: none;


        .team-member1 {
            background: url("assets/images/member1.webp");
        }

        .team-member2 {
            background: url("assets/images/member2.webp");
        }

        .team-member3 {
            background: url("assets/images/member3.webp");
        }

        .member-card {
            width: 100%;
            border-radius: 1rem;
            opacity: 80%;
            background-size: cover;
            background-position: center;
            flex: 1;
            aspect-ratio: 1/1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem;


            .top-icons {
                text-align: end;
                width: 100%;
                padding: 1rem 0rem;

                i {
                    border: 1px solid #3D3939;
                    border-radius: 2rem;
                    padding: 0.5rem;
                    background-color: #29292911;
                    font-size: 1.2rem;
                    margin-right: 1rem;
                    color: #fff;
                    font-weight: 100;

                    backdrop-filter: blur(1rem);
                }

            }

            .bottom-info {
                background: #12121200;
                width: 100%;
                backdrop-filter: blur(1rem);
                padding: 1.2rem 1rem;
                color: #fff;
                font-family: chillax-regular;
                border-radius: 0.5rem;

                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
        }

    }


    .card7 {
        grid-area: card7;
        border-radius: 1rem;
        background: none;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    .card8 {

        grid-area: card8;
        background: #ffffff0d;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3rem;


        h2 {
            font-size: 3rem;
            font-weight: 500;
            color: #F4F2ED;
            text-transform: uppercase;
            font-family: chillax-regular;

        }

        h4 {

            letter-spacing: 0.1rem;
            font-size: 0.8rem;
            font-family: 'roboto-mono', sans-serif;
            color: #F4F2ED;


            i {
                border: 1px solid #3D3939;
                border-radius: 2rem;
                padding: 1rem;
                background-color: #292929;
                font-size: 1rem;
                margin-right: 1rem;

            }

        }

        .header-content {
            h4 {
                color: #92918E;
            }
        }


    }


    .contact-banner {
        grid-area: contact-banner;
        background: #CEBD63;

        border-radius: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 3rem;


        h3 {
            font-family: satoshi-light;
            font-weight: 600;
            font-size: 0.9rem;
        }

        h2 {
            font-size: clamp(2rem, 6vw, 5rem);
            font-family: chillax-regular;
            font-weight: 300;
            line-height: 6rem;
            width: 80%;
        }

        .get-in-touch {
            font-family: 'roboto-mono';
            background: #000;
            padding: 1rem 2rem;
            color: #F4F2ED;
            border-radius: 0.6rem;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: "footer-left footer-right-top"
            "footer-left footer-right-bottom";
        gap: 1rem;


        .footer-left {
            grid-area: footer-left;

            background: #1E1E1E;
            border-radius: 1rem;
            padding: 2.5rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            i {
                border: 1px solid #3D3939;
                border-radius: 2rem;
                padding: 1rem;
                background-color: #2E2E2E;
                font-size: 1rem;
                margin-right: 1rem;
                color: #F4F2ED;
            }


        }

        .footer-right-top {
            grid-area: footer-right-top;

            background: #1E1E1E;
            border-radius: 1rem;
            padding: 2.5rem 3rem;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10rem;

            .links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1.5rem;
            }

            h3 {
                color: #F4F2ED;
                font-family: 'satoshi-light';
            }

            h4 {
                color: #92918E;
                font-family: 'satoshi-light';
            }

            .link-more-templates {
                background: #CEBD63;
                color: #1A1A1A;
                font-weight: 600;
                white-space: nowrap;

                padding: 1rem;
                text-decoration: none;
                padding: 0.9rem 1.2rem;
                border-radius: 0.4rem;
                font-family: satoshi-light;
                font-size: 0.875rem;
                font-weight: 600;
                letter-spacing: 0.1rem;


                &:hover {
                    background: #AD9D49;
                }
            }
        }

        .footer-right-bottom {
            grid-area: footer-right-bottom;

            color: #fff;
            background: #1E1E1E;
            border-radius: 1rem;
            padding: 2.5rem 1rem;
            font-family: 'satoshi-light';

            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 1rem;
                color: #92918E;
                font-weight: 400;

                span {
                    color: #F4F2ED;
                    border-bottom: 1px solid #F4F2ED;

                }

            }

            .right-link {
                h3 {
                    color: #F4F2ED;
                    font-weight: 400;
                }

                i {
                    border: 1px solid #3D3939;
                    border-radius: 2rem;
                    padding: 1rem;
                    background-color: #292929;
                    font-size: 1rem;
                    margin-left: 0.2rem;
                }
            }
        }
    }
}

@media (max-width:768px) {
    main {

        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;

        grid-template-areas: "header"
            "card1"
            "card2"
            "stats"
            "card3"
            "card4"
            "card5"
            "card6"
            "team-header"
            "team-cards"
            "card7"
            "card8"
            "contact-banner"
            "footer";

        .footer {
            grid-template-columns: 1fr;
            grid-template-areas: "footer-left"
                "footer-right-top"
                "footer-right-bottom";
            gap: 1rem;

            .footer-left {
                flex-direction: row;
            }
        }

        .card2,
        .card4,
        .card6 {
            padding: 1.8rem;
            gap:2rem;

            h3 {

                font-size: 1.3rem;
                column-count: 1;
                padding: 1rem 0rem;
            }

            h4 {

                font-size: 1rem;
            }

            h1 {
                font-size: 2.5rem;
            }


        }
        .card2 .header-content h4{
            padding-top:1rem;
        }

        .card8{
            padding: 1.8rem;
            gap:2rem;
        }
        .card8 h2 {
            font-size: 2.5rem;
        }


        .card8 h4 {

            font-size: 1rem;
        }

        .card8 .header-content h4 {
            font-size: 1rem;
        }


        .stats {
            padding: 1rem 0rem;

            h4 {
                font-size: 0.8rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            div {
                text-align: center;
            }
        }

        nav .a-link {
            display: none;
        }

        .team-cards {
            display: inline-block;
            .member-card{
                padding:1rem;
            }

            .member-card .bottom-info {
                h4 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            .member-card .top-icons i {
                font-size: 1.5rem;
            }

        }

        .team-header {
        padding: 1rem 0;
        }
        .team-header h2{
            font-size:2.5rem;
        }

        .team-header h4 {
            display: none;
        }


        .contact-banner {
            flex-direction: column;
            align-items: normal;
            gap: 2rem;
        }

        .contact-banner h2 {
            font-size: 2.5rem;
            width: 100%;
            line-height: 3rem;
        }

        .contact-banner .get-in-touch {
            font-size: 1rem;
        }

        .footer .footer-right-top {
            flex-direction: column;
            gap: 5rem;
        }

        .footer .footer-right-bottom {
            flex-direction: column;
            gap: 2rem;
            margin-bottom:1rem;
            h3{
                text-align: center;
            }
        }
    }

}

