@font-face {
    font-family: satoshi-light;
    src: url(assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: chillax-regular;
    src: url(assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: vmf;
    src: url(assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #121212;
}

main {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;

    grid-template-areas: "header header"
        "card1 card2"
        "stats stats"
        "card3 card4"
        "card5 card6"
        "team-header team-header"
        "team-cards team-cards"
        "card7 card8"
        "contact-banner contact-banner"
        "footer-left footer-right-top"
        "footer-left footer-right-bottom";

    .item {
        background: #ccc;
    }

    .header {
        grid-area: header;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background: none;

        nav {
            display: flex;
            gap: 0.6rem;


            a {
                padding: 1rem;
                color: #F4F2ED;
                text-decoration: none;
                padding: 0.9rem 1.2rem;
                border-radius: 0.4rem;
                font-family: satoshi-light;
                font-size: 0.875rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                background: #ffffff0d;
            }

            a:hover {
                background: #2A2A2A;
            }

            .link-get-in-touch {
                background: #CEBD63;
                color: #1A1A1A;
                font-weight: 600;

                &:hover {
                    background: #AD9D49;
                }
            }
        }
    }

    .card1 {
        grid-area: card1;
        border-radius: 1rem;
        background: none;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    .card2 {
        grid-area: card2;

        background: #ffffff0d;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3rem;


        h1,
        h3,
        h4 {
            color: #F4F2ED;
            font-family: satoshi-light;
        }

        h1 {
            font-size: 4rem;
            font-weight: 600;
            color: #F4F2ED;
            text-transform: uppercase;
        }

        h3 {

            color: #92918E;
            padding: 1rem 0;
            font-size: 1.3rem;
        }

        h4 {

            letter-spacing: 0.1rem;
            font-size: 0.8rem;
            font-family: Roboto Mono, sans-serif;
            margin-top: 2rem;

        }


        .link {
            a {
                text-decoration: none;
            }

            h4 {
                i {
                    border: 1px solid #3D3939;
                    border-radius: 2rem;
                    padding: 1rem;
                    background-color: #292929;
                    font-size: 1rem;
                }

            }
        }

    }


    .section4 {
        grid-area: stats;
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-family: satoshi-light;
        background: none;

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            color: #F4F2ED;
        }

        h4 {
            color: #92918E;
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
        }
    }

    .section5 {
        grid-area: card3;
    }

    .section6 {
        grid-area: card4;
    }

    .section7 {
        grid-area: card5;
    }

    .section8 {
        grid-area: card6;
    }

    .section9 {
        grid-area: team-header;
    }

    .section10 {
        grid-area: team-cards;
    }

    .section11 {
        grid-area: card7;
    }

    .section12 {
        grid-area: card8;
    }

    .section13 {
        grid-area: contact-banner;
    }

    .section14 {
        grid-area: footer-left;
    }

    .section15 {
        grid-area: footer-right-top;
    }

    .section16 {
        grid-area: footer-right-bottom;
    }

}